<mat-nav-list>
  <a mat-list-item [routerLink]="['/members']" routerLinkActive="active" (click)="onClose()" >
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Matches</span>
  </a>
  <a mat-list-item [routerLink]="['/lists']" routerLinkActive="active"  (click)="onClose()" >
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Lists</span>
  </a>
  <a mat-list-item [routerLink]="['/messages']" routerLinkActive="active"   (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Messages</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()" >
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
